body {
  background-color: #9dfdc7;
  font-family: "Mulish", sans-serif;
  margin: 0 10%;
}

h1.heading {
  color: black;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);

}
h2.subheading{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
  display: block;
  width: 150px;
  text-align: center;
  margin: 10px auto;
}

.container {
  padding: 1px;
  background-color: #FFEDDA;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 10px 3px;
  margin: 10px 0px;
}

.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 49%;
  border: 1px solid black;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
  /*background-color: white;*/
}

.border{
  border-radius: 5px;
}

.ocean-blue{
    background-color: #64C9CF;
}

.sand{
    background-color: #FDE49C;
}

.sunlight{
    background-color: #FFB740;
}

.earth{
    background-color: #DF711B;
}

.panel{
  width: 50%;
  display: inline-block;
  margin: 10px 15px;  
  border: 1px solid black;
  background-color: white;
}

.font-label{
  font-size: 20px;
  text-decoration: underline;
}

.regular{
  font-style: normal;
}

.bold{
  font-weight: 800;
}

.italic{
  font-style: italic;
}

.ubuntu-mono{
  font-family: 'Ubuntu Mono', monospace;
}

.source-code-pro{
  font-family: 'Source Code Pro', monospace;
}

.roboto-mono{
  font-family: 'Roboto Mono', monospace;
}

.inconsolata{
  font-family: 'Inconsolata', monospace;
}

.panel ul{
  text-align: left ;
}

.text-heading{
  font-family: 'Roboto Mono', monospace;
  font-size: large;
  font-weight: 800;
}

.text-subheading{
  font-family: 'Inconsolata', monospace;
  font-size: large;
  font-weight: 600;
}

.paragraph{
  font-family: 'Source Code Pro', monospace;
  font-size: large;
  font-weight: 500;
} 