body {
  background-color: #9dfdc7;
  font-family: "Mulish", sans-serif;
  margin: 0 10%;
}

h1 {
  color: black;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

.container {
  padding: 1px;
  background-color: #FFEDDA;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 10px 3px;
  margin: 10px 0px;
}

.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 49%;
  border: 1px solid black;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
  /*background-color: white;*/
}

.border{
  border-radius: 5px;
}

.ocean-blue{
    background-color: #64C9CF;
}

.sand{
    background-color: #FDE49C;
}

.sunlight{
    background-color: #FFB740;
}

.earth{
    background-color: #DF711B;
}